@page "/recipe/{Id:int}"
@using BlazorRecipes.Shared.Recipes

@if (recipe == null)
{
    <Spinner />
}
else
{
    <h1>@recipe.Title</h1>

    <p>@recipe.Description</p>



    @recipe.Image

    @recipe.Details

    @recipe.Ingredients

    @recipe.Instructions
}

@code {
    private Recipe? recipe;
    
    [Parameter]
    public int? Id { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}
