@using BlazorRecipes.Shared.Recipes

@if (Recipe == null)
{
    <Spinner />
}
else
{
    <div class="card">
        <img src="@Recipe.Image" class="card-img-top" alt="@Recipe.Title">
        
        <div class="card-body">
            <h3 class="card-title h5">@Recipe.Title</h3>
        </div>

        @if (Recipe.Details != null)
        {
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Prep Time:</strong> <i>@FormatTimeSpan(Recipe.Details.PrepTime)</i></li>
                <li class="list-group-item"><strong>Cook Time:</strong> <i>@FormatTimeSpan(Recipe.Details.CookTime)</i></li>
                <li class="list-group-item"><strong>Total Time:</strong> <i>@FormatTimeSpan(Recipe.Details.TotalTime)</i></li>
                <li class="list-group-item"><strong>Servings:</strong> <i>@Recipe.Details.Servings</i></li>
            </ul>
        }

        <div class="card-body">
            <a href="recipes/@Recipe.Id" class="card-link">View Recipe</a>
            <a href="recipes/edit/@Recipe.Id" class="card-link">Edit Recipe</a>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public Recipe? Recipe { get; set; }

    private string FormatTimeSpan(TimeSpan timeSpan)
    {
        var format = @"m\ \m\i\n\s";

        if (timeSpan >= new TimeSpan(1, 0, 0))
            format = $@"h\ \h\r\s\ {format}";

        if (timeSpan >= new TimeSpan(1, 0, 0, 0))
            format = $@"d\ \d\a\y\s\ {format}";

        var str = timeSpan.ToString(format);

        return str;
    }
}
